* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #000000;
}

/* Navigation CSS */
.navigation > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    background-color: gray;
    padding: 10px;
}
.navigation > ul > li {
    display: inline-block;
}

.navigation > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation > ul > li > a.active {
    background-color: #038857;
}

.navigation > ul > li > a:hover {
    background-color: #111;
}
